<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/collection.css" type="text/css">
 </head>


<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- logo-fix:start -->

                <a href="/"><div class="logo-wrapper">

                    <img id="logocollection1" class="logo" src="assets/logo.png">
                    <img id="logocollection2" class="logo" src="assets/logoblack.png">
                </div>
                </a>
                <!-- logo-fix:end -->
               

            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                	
                    <li>
                        <%= link_to 'Campaign', campaign_path, class: 'page-scroll' %>
                    </li> 
                   
                    <li>
                    	
                        <%= link_to 'Collection', collection_path, class: 'page-scroll' %>
                        
                       
                    </li>
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



<div class="container-fluid">
	<div class="campaign1">
			<img src="assets/img2862.jpg">
	</div>

	<div class="campaign2">
			<img src="assets/img1829.jpg">
	</div>

	<div class="double1">
			<img src="assets/double1.jpg">
	</div>

	
	<div class="campaign3">
			<img src="assets/img2570.jpg">
	</div>

	<div class="campaign4">
			<img src="assets/img2101.jpg">
	</div>

	<div class="campaign5">
			<img src="assets/img2219.jpg">
	</div>

	<div class="double2">
			<img src="assets/double2.jpg">
	</div>

	<div class="campaign6">
			<img src="assets/img2339.jpg">
	</div>

	<div class="campaign7">
			<img src="assets/img2397.jpg">
	</div>

	<div class="campaign8">
			<img src="assets/img2422.jpg">
	</div>

	<div class="double3">
			<img src="assets/double3.jpg">
	</div>

	<div class="campaign9">
			<img src="assets/img2554.jpg">
	</div>

	<div class="campaign10">
			<img src="assets/img1812.jpg">
	</div>

	<div class="campaign11">
			<img src="assets/img2642.jpg">
	</div>

	<div class="campaign12">
			<img src="assets/img2684.jpg">
	</div>

















</div>




























