<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/collection.css" type="text/css">
 </head>


<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- logo-fix:start -->

                <a href="/"><div class="logo-wrapper">

                    <img id="logocollection1" class="logo" src="assets/logo.png">
                    <img id="logocollection2" class="logo" src="assets/logoblack.png">
                </div>
                </a>
                <!-- logo-fix:end -->
               

            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                	
                    <li>
                        <%= link_to 'Campaign', campaign_path, class: 'page-scroll' %>
                    </li> 
                   
                    <li>
                    	
                        <%= link_to 'Collection', collection_path, class: 'page-scroll' %>
                        
                       
                    </li>
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



<div class="container">
	<div class="row productlist">
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img1.jpg">
		</div>
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img2.jpg">
		</div>
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img3.jpg">
		</div>
		
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img4.jpg">
		</div>
	</div>


</div>

<div class="container">
	<div class="row productlist">
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img5.jpg">
		</div>
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img6.jpg">
		</div>
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img7.jpg">
		</div>
		
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img8.jpg">
		</div>
	</div>


</div>

<div class="container">
	<div class="row productlist">
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img9.jpg">
		</div>
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img10.jpg">
		</div>
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img32.jpg">
		</div>
		
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img12.jpg">
		</div>
	</div>


</div>

<div class="container">
	<div class="row productlist">
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img13.jpg">
		</div>
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img14.jpg">
		</div>
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img15.jpg">
		</div>
		
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img16.jpg">
		</div>
	</div>


</div>
<div class="container">
	<div class="row productlist">
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img17.jpg">
		</div>
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img18.jpg">
		</div>
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img19.jpg">
		</div>
		
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img20.jpg">
		</div>
	</div>


</div>
<div class="container">
	<div class="row productlist">
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img21.jpg">
		</div>
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img22.jpg">
		</div>
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img23.jpg">
		</div>
		
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img24.jpg">
		</div>
	</div>


</div>
<div class="container">
	<div class="row productlist">
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img25.jpg">
		</div>
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img26.jpg">
		</div>
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img27.jpg">
		</div>
		
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img28.jpg">
		</div>
	</div>


</div>
<div class="container">
	<div class="row productlist">
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img29.jpg">
		</div>
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img30.jpg">
		</div>
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img31.jpg">
		</div>
		
		<div class="col-xs-6 col-sm-3 test">
			<img src="assets/img11.jpg">
		</div>
	</div>


</div>

</body>



