<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="height=device-height, initial-scale=1">

 </head>


<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- logo-fix:start -->
                <div class="logo-wrapper">
                    <img id="logo1" class="logo" src="assets/logo.png">
                    <img id="logo2" class="logo" src="assets/logoblack.png">
                </div>
                <!-- logo-fix:end -->
          
               

            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li>
                        <a class="page-scroll" href="#about">About</a>
                    </li> 
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li> -->
                    <li>
                        <%= link_to 'Collection', collection_path, class: 'page-scroll' %>
                        
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h6>高級私人訂製服務</h6>
                
                <h4>自己設計妳的夢幻洋裝</h4>

                <div class="orderbutton">
                <div class="order">我要預約   
                
                        <img class="arrow" src="assets/arrow.png">
                   
                </div>
                </div>
               </div>

        </div>

         <!--<form id="bookingForm" class="booking-form">
        <div class="tmInput">
          <input name="Name" placeHolder="Name" type="text" data-constraints='@NotEmpty @Required @AlphaSpecial'>
        </div>
        <div class="tmInput">
          <input name="Email" placeHolder="E - mail " type="text" data-constraints="@NotEmpty @Required @Email">
        </div>
        <div class="tmInput">
          <input name="Phone" placeHolder="Phone" type="text" data-constraints="@NotEmpty @Required @Phone">
        </div>
        <div class="booking-form_controls">
          <a href="#" class="btn" data-type="submit">我要預約</a>
        </div>
        </form> -->

    </header>

 

 <div class="logo"></div>



   <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img class="icons" src="assets/image1.png">
                        <h3>挑選喜愛的款</h3>
                        <p class="text-muted">從型錄裡挑出一件自己最喜歡的洋裝。</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img class="middleicon" src="assets/image2.png">
                        <h3>自己設計</h3>
                        <p class="text-muted">選擇喜歡的布，版型，顏色，和其他洋裝的細節。</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img class="icons" src="assets/image3.png">
                        <h3>量身訂製</h3>
                        <p class="text-muted">專業設計師會幫您量好身材再為您開始訂製。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Who are we</h2>
                    <hr class="light">
                    <p class="text-faded">Dress Lab是一個提供高級訂製洋裝的服務，由Vogue It Girl - Annie Chi領軍，與多位20年豐富經驗的車縫師、打版師組成的專業團隊。從美國回來的設計總監Annie，熟知女人對洋裝的執著與需求，結合國外流行趨勢，設計出大量女人心中的夢幻洋裝，而Dress Lab的高級客製化服務，從款式、布料、顏色、版型，全程親自與您溝通，每件都是單件剪裁，量身打造屬於您獨一無二、夢想中的頂級洋裝。<br>力求完美，是Dress Lab的對您的承諾。
      </p>
                </div>
            </div>
        </div>
    </section>  

    <section id="contact">
        <div class="container">
            <div class="row">
                 <<div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                
                </div> 

                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>02-87710770</p>
                </div>


                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">service@dresslab.com.tw</a></p>
                </div>
            </div>
        </div>
    </section>

    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
