<head>
<meta name="google-site-verification" content="sca2t-yo7VHa7_qkaEodwbBXrkuJDc753n6f_REj4qA" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/home.css.erb" type="text/css">
 </head>




<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- logo-fix:start -->
                <div class="logo-wrapper">
                    <img id="logo1" class="logo" src="assets/logo.png">
                    <img id="logo2" class="logo" src="assets/logoblack.png">
                </div>
                <!-- logo-fix:end -->
          
               

            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
               
                    <li>
                        <%= link_to 'Campaign', campaign_path, class: 'page-scroll' %>
                    </li> 

                    <li>
                        <%= link_to 'Collection', collection_path, class: 'page-scroll' %>
                        
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h6>高級私人客製服務</h6>
                
                <h4>自己設計妳的夢幻洋裝</h4>
                




              <div class="buttonadjust">
          
                <a href="/orders/new" class="orderbuttonmain">
                  
                    <div class="order">我要預約   
                    
                        <img class="arrow" src="assets/arrow.png">
                   

                    </div>
            

                    </a>

                </div>



               </div>

        </div>

         <!--<form id="bookingForm" class="booking-form">
        <div class="tmInput">
          <input name="Name" placeHolder="Name" type="text" data-constraints='@NotEmpty @Required @AlphaSpecial'>
        </div>
        <div class="tmInput">
          <input name="Email" placeHolder="E - mail " type="text" data-constraints="@NotEmpty @Required @Email">
        </div>
        <div class="tmInput">
          <input name="Phone" placeHolder="Phone" type="text" data-constraints="@NotEmpty @Required @Phone">
        </div>
        <div class="booking-form_controls">
          <a href="#" class="btn" data-type="submit">我要預約</a>
        </div>
        </form> -->

    </header>

   <section id="services">
        <div class="container">
            <div class="row">
       
            </div>
        </div>
    </section>
 


   <section id="services">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works</h2>
                </div>
                <div class="col-xs-12">
                   <img class="examplephoto" src="assets/examplephoto.jpg">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img class="icons" src="assets/image1.png">
                        <h3>挑選喜愛的款</h3>
                        <p class="text-muted">從型錄裡挑出一件自己最喜歡的洋裝，線上預約客製服務。</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img class="middleicon" src="assets/image2.png">
                        <h3>自己設計</h3>
                        <p class="text-muted">與設計師溝通，選擇喜歡的布，版型，顏色，和其他洋裝的細節。</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img class="icons" src="assets/image3.png">
                        <h3>量身訂製</h3>
                        <p class="text-muted">設計師會幫您量好身材再為您開始訂製。</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Who are we</h2>
                  
                    <p class="text-faded">Dress Lab是一個提供高級客製洋裝的服務，由Vogue It Girl - Annie Chi領軍，與多位20年豐富經驗的車縫師、打版師組成的專業團隊。從美國回來的設計總監Annie，熟知女人對洋裝的執著與需求，結合國外流行趨勢，設計出大量女人心中的夢幻洋裝，而Dress Lab的高級客製化服務，從款式、布料、顏色、版型，全程親自與您溝通，每件都是單件剪裁，量身打造屬於您獨一無二、夢想中的頂級洋裝。<br>力求完美，是Dress Lab的對您的承諾。
      </p>
                </div>
            </div>
        </div>
    </section>  




  




<section id="fashionpartner">
    <div class="container">
        <div class="row">
            <h2 align="center">Fashion Partner</h2>
            <div class="fashiongroup">
            <div class="fashionpartnerlogo">
                    <img src="/assets/fashionpartner1.png">
                    <img src="/assets/fashionpartner2.png">
            </div>
            </div>
            </div>
            </div>
     </section> 












   <section id="contact">
        <div class="container">
            <div class="row">
            <div class="contactinfo">
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>02-87710770</p>
                </div>


                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>service@dresslab.com.tw</p>
            </div> 
                   

                </div>
            </div>
        </div>
    </section>
    
  

    
    <!-- jQuery -->
    <script src="/assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
  
    <script src="/assets/jquery.fittext.js"></script>
 

    <!-- Custom Theme JavaScript -->
    <script src="/assets/home.js"></script>

</body>

</html>
