.campaign1 img {

	display: block;
	width: 75%;
	padding-top: 80px;
	margin:auto;

}

.campaign2 img {

	display: block;
	width: 75%;
	padding-top: 40px;
	margin:auto;

}

.campaign3 img {

	display: block;
	width: 75%;
	padding-top: 40px;
	margin:auto;

}


.campaign4 img {

	display: block;
	width: 75%;
	padding-top: 40px;
	margin:auto;

}


.campaign5 img {

	display: block;
	width: 75%;
	padding-top: 40px;
	margin:auto;

}

.campaign6 img {

	display: block;
	width: 75%;
	padding-top: 40px;
	margin:auto;

}

.campaign7 img {

	display: block;
	width: 75%;
	padding-top: 40px;
	margin:auto;

}

.campaign8 img {

	display: block;
	width: 75%;
	padding-top: 40px;
	margin:auto;

}

.campaign9 img {

	display: block;
	width: 75%;
	padding-top: 40px;
	margin:auto;

}

.campaign10 img {

	display: block;
	width: 75%;
	padding-top: 40px;
	margin:auto;

}

.campaign11 img {

	display: block;
	width: 75%;
	padding-top: 40px;
	margin:auto;

}

.campaign12 img {

	display: block;
	width: 75%;
	padding-top: 40px;
	margin:auto;

}

