.orderform {
	margin-top: 100px;
	background-color: rgb(217,223,246);
	color: rgb(171,165,165);
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;

}

.orderbackground{
	margin-top: 50px;
	height: 100%;
	background-color: rgb(245,245,245);
}


.orderbutton {
	margin-top: 10px;
	padding: 10px;
	margin: auto;
	width: 100%;
	background-color: rgb(162,196,255);
	border: none;
	color: white;
}

.lastorderfield {
	margin-bottom: 50px;	
}

.orderformfield{
	margin-top: 20px;
}

.firstorderformfield{
	margin-top: 20px;
}

.pleaseenter{
	display: block;
	padding-top: 20px;
	padding-left: 15px;
	margin-bottom: 30px;
	margin:

}


@media(max-width:768px) {


	.orderform {
		margin-top: 50px;
	}

.pleaseenter{
	display: block;
	padding-top: 20px;
	padding-left: 15px;
	margin-bottom: 30px;
	margin: auto;
	font-size: 100px;

}
.pleaseenter p {
	font-size: 15px;
}

}